@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');
/* *=universal selector */
*{font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;}
body{
    background-image:url(img/gymbike.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{height: 200px;
}
nav{height:80px;
    background-color: rgba(7, 26, 45, 0.7);
    }
nav ul li{
        list-style: none;
        margin:0px;

    }
    ul li a{
        text-decoration: none;
        color:whitesmoke;
        font-size: 20px;   
    }
    .item1, .item2, .item3, .item4, .item5{
        padding:30px;
    }
    .flex-nav{
        display: flex;
        justify-content: space-around;
}
.item5{
    display:flex;
    background-color: #8D0B3B;
    border-radius: 10px;
    max-height: 0px;
    align-items:center;
    margin-top:10px;
  }

.flexcontainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:720px;
 
}
.firstpara {color:white;
    font-size: 100px;
    width: 1000px;
    display:flex;
    text-align:center;
    padding: 20px;
    margin:0px;
    background-color:rgba(7, 26, 45, 0.7);
}
.secondpara {color:white;
    font-size: 45px;
    width: 1000px;
    text-align: center; 
    padding: 20px;
    margin:0px;
    background-color:rgba(7, 26, 45, 0.7);
}
.item8{
    display:flex;
    background-color:rgba(7, 26, 45, 0.7);
    justify-content: right;
   align-items: center;
}
.item8 a{padding:0px 10px 0px 10px;}
  